In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import svm
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import roc_curve, auc,precision_recall_curve
from sklearn.metrics import classification_report
from matplotlib import pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import make_classification

df = pd.read_csv("cleaned_data.csv")

In [2]:
df.head()

,username,tweet,username_of_retweeter,hashtag,tweet created,number of followers,# following,language,label,Polarity,Polarity_cat,len_tweet,word_count_tweet,label2
0,reddsab,mine recorded got pfizer booster nurse said c...,no retweet username,[],2021/12/1,666,1216,en,NaN,0.250000,Positive,64,11,UL
1,bobstpier1,breaking document dump pfizer data scandal or...,maajidnawaz,[],2021/12/1,1964,2028,en,NaN,0.125000,Positive,113,16,UL
2,samlowry60,good preliminary news n n vaccine slightly le...,matthewlesh,[],2021/12/1,902,1982,en,NaN,0.280000,Positive,154,21,UL
3,key2middleeast,pfizer vaccine likely offer strong protection...,skynews,[],2021/12/1,1077,5002,en,NaN,0.189899,Positive,130,19,UL
4,kk002188,correct sa getting framed days earlier sa ask...,skynews,[],2021/12/1,11,113,en,NaN,0.068182,Positive,128,22,UL

In [11]:
timeline = df['tweet created'].unique()
timeline

array(['2021/12/1', '2021/11/30', '2021/11/29', '2021/11/28',
       '2021/11/27', '2021/2/1', '2021/1/31', '2021/3/1', '2021/2/28',
       '2021/4/1', '2021/5/1', '2021/4/30', '2021/6/1', '2021/7/1',
       '2021/8/1', '2021/9/1', '2021/8/31', '2021/10/1', '2021/9/30',
       '2021/9/29', '2021/11/1'], dtype=object)

In [12]:
timeline_sorted = sorted (timeline)
timeline_sorted

['2021/1/31',
 '2021/10/1',
 '2021/11/1',
 '2021/11/27',
 '2021/11/28',
 '2021/11/29',
 '2021/11/30',
 '2021/12/1',
 '2021/2/1',
 '2021/2/28',
 '2021/3/1',
 '2021/4/1',
 '2021/4/30',
 '2021/5/1',
 '2021/6/1',
 '2021/7/1',
 '2021/8/1',
 '2021/8/31',
 '2021/9/1',
 '2021/9/29',
 '2021/9/30']

In [28]:
len(timeline_sorted)

21

In [15]:
Jan = df[df['tweet created'] == timeline_sorted[0]]['Polarity'].mean()

In [21]:
Feb = df[df['tweet created'] == (timeline_sorted[8] or timeline_sorted[9])]['Polarity'].mean()

In [22]:
Mar = df[df['tweet created'] == timeline_sorted[10]]['Polarity'].mean()

In [23]:
Apr = df[df['tweet created'] == (timeline_sorted[11] or timeline_sorted[12])]['Polarity'].mean()

In [24]:
May = df[df['tweet created'] == timeline_sorted[13]]['Polarity'].mean()

In [25]:
Jun = df[df['tweet created'] == timeline_sorted[14]]['Polarity'].mean()

In [26]:
Jul = df[df['tweet created'] == timeline_sorted[15]]['Polarity'].mean()

In [27]:
Aug = df[df['tweet created'] == (timeline_sorted[16] or timeline_sorted[17])]['Polarity'].mean()

In [29]:
Sep = df[df['tweet created'] == (timeline_sorted[18] or timeline_sorted[19] or timeline_sorted[20])]['Polarity'].mean()

In [30]:
Oct = df[df['tweet created'] == timeline_sorted[1]]['Polarity'].mean()

In [31]:
Nov = df[df['tweet created'] == (timeline_sorted[2] or timeline_sorted[3] or timeline_sorted[4]
                                or timeline_sorted[5] or timeline_sorted[6])]['Polarity'].mean()

In [32]:
Dec = df[df['tweet created'] == timeline_sorted[7]]['Polarity'].mean()

In [33]:
polar_df = pd.DataFrame(data=
                        {'Month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 
                         'Polar': [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec]})

In [34]:
polar_df

    Month     Polar
0       1  0.092311
1       2  0.141872
2       3  0.064403
3       4  0.166530
4       5  0.026486
5       6  0.137565
6       7  0.039156
7       8  0.135369
8       9  0.095670
9      10  0.054305
10     11  0.080800
11     12  0.093548

In [36]:
polar_df.to_csv('polar_score.csv')